%h1 Listing submissions

%table
  %thead
    %tr
      %th Comment
      %th Author
      %th Activity
      %th
      %th
      %th

  %tbody
    - @submissions.each do |submission|
      %tr
        %td= submission.comment
        %td= submission.author
        %td= submission.activity
        %td= link_to 'Show', submission
        %td= link_to 'Edit', edit_submission_path(submission)
        %td= link_to 'Destroy', submission, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Submission', new_submission_path
