%p#notice= notice

%p
  %b Comment:
  = @submission.comment
%p
  %b Author:
  = @submission.author
%p
  %b Activity:
  = @submission.activity

= link_to 'Edit', edit_submission_path(@submission)
\|
= link_to 'Back', submissions_path
