!!! 5
%html
  %head
    %title= content_for(:page_title) || t('.default_page_title')
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolink-track':  true, async: true
    = javascript_include_tag 'application',               'data-turbolinks-track': true, async: true
    = csrf_meta_tags
  %body
    .container.marketing
      = render 'header'

      - flash.each do |key, value|
        %div{ class: "alert alert-dismissible alert-#{key == 'notice' ? 'success' : 'danger'}" }
          = value
          %button.close{ type: :button, 'data-dismiss': 'alert', 'aria-label': 'Close' }
            %span{ 'aria-hidden': 'true' } &times;

      = yield

      = render 'footer'
